.main__block{
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 40px;
}
.main__block h1{
    color: #fff;
    font-size: 2.5rem;
}
.main__items{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}
.main__item{
    display: flex;
    flex-direction: column;
    background: #1D1D1D;
    padding: 1rem 3rem;
    border-radius: 20px;
    border: 1px solid #555555;
}
.main__item h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}
.main__item ul li{
    color: #fff;
}
.main__item a{
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
}